<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body>
		<h1>Hola mundo!!!</h1>
<div class="container">
  <h2>Fotografos famosos</h2>
  <p>En esta seccion podras ver algunos de los fotografos mas famosos del mundo y por su puesto, algunas de sus fotografias</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="https://i.blogs.es/a3cb1d/ansel-adams/1024_2000.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Ansel Adams</h4>
      <p class="card-text">El norteamericano Ansel Adams creó del famoso Sistema de Zonas, para calcular con precisión la exposición en fotografía, y es conocido mundialmente por sus imágenes de paisajes en blanco y negro del parque nacional de Yosemite.</p>
      <a href="#" class="btn btn-primary stretched-link">Ver Perfil</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="card" style="width:400px">
    <img class="card-body text-center" src="https://i.blogs.es/1a5efd/eve-arnold/1366_2000.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Eve Arnold</h4>
      <p class="card-text">Una mujer que se hizo famosa por sus retratos de iconos culturales, con especial protagonismo de su amiga Marilyn Monroe. Aunque Eve Arnold, también se destacó por su trabajo de fotoperiodista que le llevó a realizar reportajes sociales que le dieron el honor de ser la primera mujer miembro de pleno derecho de la Agencia Magnum en el año 1957.</p>
      <a href="#" class="btn btn-primary stretched-link">Ver Perfil</a>
    </div>
  </div>
</div>

	</body>
</html>